<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/assets/css/main.css" rel="stylesheet">
</head>

<body>
    <section class="pagecongrat">
        <div class="container">
            <div class="pagecongrat-wrap">
                <h2 class="pagecongrat__title">Вы на пути к преображению!</h2>
                <p class="pagecongrat__subtitle">Ваша запись успешна. <br>
                    Мы свяжемся с вами в ближайшее время для уточнения деталей. <br>
                    Благодарим вас за выбор Genetic life</p>
                <a href="/" class="pagecongrat__btn btn btn-blue">
                    На главную
                    <div class="wrap__chervon">
                        <img src="/assets/images/chervon--no-bg.svg" alt="" />
                    </div>
                </a>
            </div>
        </div>
    </section>
</body>

</html>