<footer class="footer">
    <div class="container">
        <section class="footer-top">
            <section class="footer-top__nav">
                <a class="footer-top__nav-item" href="/">
                    <div class="footer-top__nav-name">Главная</div>
                </a>
                <a class="footer-top__nav-item" href="/about_doctor">
                    <div class="footer-top__nav-name">О Специалисте</div>
                </a>
                <div class="footer-top__nav-item">
                    <script>
                        function activeServicesFooter(elem) {
                            elem.classList.toggle("active");
                        }
                    </script>
                    <div class="footer-top__nav-item-header" onclick="activeServicesFooter(this)">
                        <a class="footer-top__nav-name" href="/services">Услуги</a>
                        <img class="footer-top__nav-icon" src="/assets/images/chervon__down--form.svg" />
                    </div>
                    <div class="footer-top__nav-item-body">
                        <div>
                            <div class="footer-top__nav-item-body-sers">
                                <a href="/services/cosmetology"
                                    class="footer-top__nav-item-body-service">Косметология</a>
                                <a href="#!" class="footer-top__nav-item-body-service">Генетика</a>
                                <a href="#!" class="footer-top__nav-item-body-service">Трихология</a>
                                <a href="#!" class="footer-top__nav-item-body-service">Иммунодиетология</a>
                                <a href="#!" class="footer-top__nav-item-body-service">Anti-Age</a>
                                <a href="#!" class="footer-top__nav-item-body-service">Чекап организма</a>
                                <a href="#!" class="footer-top__nav-item-body-service">Микробиом кишечника</a>
                                <a href="#!" class="footer-top__nav-item-body-service">Снижение веса</a>
                            </div>
                        </div>
                    </div>

                </div>
                <a class="footer-top__nav-item" href="/blog">
                    <div class="footer-top__nav-name">Блог</div>
                </a>
                <a class="footer-top__nav-item" href="/contacts">
                    <div class="footer-top__nav-name">Контакты</div>
                </a>
            </section>
            <div class="footer-top__contact">
                <a class="footer-top__tel">+7 (812) 509-12-02</a>
                <a class="footer-top__mail">info@geneticlife.ru</a>
                <div class="footer-top__social sm">
                    <p class="footer-top__social-text">Мы в соцсетях</p>
                    <div class="footer-top__social-wrap">
                        <a href="#!" class="footer-top__social-icon">
                            <img src="/assets/images/footer-social__icon-1.svg" alt="" />
                        </a>
                        <a href="#!" class="footer-top__social-icon">
                            <img src="/assets/images/footer-social__icon-2.svg" alt="" />
                        </a>
                        <a href="#!" class="footer-top__social-icon">
                            <img src="/assets/images/footer-social__icon-3.svg" alt="" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-top__info">
                <p class="footer-top__info-time">
                    Время работы <br />
                    10:00 - 20:00
                </p>
                <p class="footer-top__info-adress">
                    Санкт-Петербург, <br />
                    ул. Малая Монетная д.5
                </p>
            </div>
            <div class="footer-top__social">
                <p class="footer-top__social-text">Мы в соцсетях</p>
                <div class="footer-top__social-wrap">
                    <a href="#!" class="footer-top__social-icon">
                        <img src="/assets/images/footer-social__icon-1.svg" alt="" />
                    </a>
                    <a href="#!" class="footer-top__social-icon">
                        <img src="/assets/images/footer-social__icon-2.svg" alt="" />
                    </a>
                    <a href="#!" class="footer-top__social-icon">
                        <img src="/assets/images/footer-social__icon-3.svg" alt="" />
                    </a>
                </div>
            </div>
        </section>
        <section class="footer-bottom">
            <p class="footer-bottom__copyright">
                © 2024 Все права защищены.
            </p>
            <a href="https://alpham.pro/" class="footer-bottom__alpha-logo">
                <img src="/assets/images/footer__alpha-logo.svg" alt="" />
            </a>
        </section>
    </div>
</footer>

<section class="sub-footer">
    <div class="container">
        <p class="sub-footer__subtitle">Имеются противопоказания. Необходима
            консультация специалиста</p>
    </div>
</section>