<header class="header--fixed">
    <div class="container">

        <section class="header pagerow">
            <!-- Mobile -->
            <img src="/assets/images/header__menu-icon.svg" alt="" class="header__menu-icon" />

            <!-- Mobile/Desktop -->
            <a href="/main" class="header__logo">
                <img src="/assets/images/logo__genetic.svg" alt="" />
            </a>

            <!-- Mobile -->
            <div class="header__opera pagerow">
                <input type="text" class="header--mobile__input" placeholder="Поиск по сайту" />
                <img src="/assets/images/header__search-icon.svg" alt="" class="header__search-icon" />
                <img src="/assets/images/header__write-icon.svg" alt="" class="header__write-icon" />
                <img src="/assets/images/close-icon--light.svg" alt="" class="header__close-icon" />
            </div>

            <!-- Destop -->
            <div class="header__nav">
                <form action="" class="header__search-bar pagerow">
                    <input type="text" placeholder="Поиск по сайту" style="flex-grow: 1; padding-right: 20px" />
                    <button type="submit">
                        <img src="/assets/images/header__search-icon-bold.svg" alt="" class="header__nav-search-icon" />
                    </button>
                    <img src="/assets/images/close-icon--light.svg" alt="" class="header__nav-close-icon" />
                </form>
                <ul class="header__nav-list pagerow">
                    <!-- Handle Sub-Menu -->
                    <li class="header__nav-cate">
                        <a href="/about_doctor" class="header__nav-item"> О Враче </a>
                        <ul class="header__nav-st-menu">
                            <li>
                                <a href="/about_doctor/certificates" class="header__nav-menu-child">
                                    <p class="header__nav-menu-child-text">
                                        Сертификаты врача
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="/reviews/" class="header__nav-menu-child">
                                    <p class="header__nav-menu-child-text">
                                        Отзывы
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Handle Sub-menu -->
                    <li class="header__nav-cate">
                        <a href="/services" class="header__nav-item" style="display: flex; align-items: center;">
                            Услуги&nbsp; &nbsp;<img src="/assets/images/chervon--blue_no-bg-bold.svg" alt=""></a>
                        <ul class="header__nav-st-menu">
                            <li>
                                <a href="/services/cosmetology" class="header__nav-menu-child">
                                    <p class="header__nav-menu-child-text">
                                        Косметология
                                    </p>
                                    <img src="/assets/images/chervon--blue_no-bg-bold.svg" alt=""
                                        class="header__nav-menu-child-img" />
                                </a>
                                <ul class="header__nav-nd-menu">
                                    <li class="header__nav-menu-child" style="flex-wrap: wrap">
                                        <a href="/services/cosmetology" class="header__nav-menu-child-text">
                                            Подробнее о косметологии
                                        </a>
                                    </li>
                                    <li class="header__nav-menu-child" style="flex-wrap: wrap">
                                        <p class="header__nav-menu-child-text">
                                            Инъекционные процедуры
                                        </p>
                                        <img src="/assets/images/chervon--blue_no-bg-bold.svg" alt=""
                                            class="header__nav-menu-child-img" />
                                        <div class="header__nav-rd-menu">
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Ботулинотерапия
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Биоревитализация / Мезотерапия
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Контурная пластика
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Плазмотерапия
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                PRP-терапия RegenLab
                                            </a>
                                        </div>
                                    </li>
                                    <li class="header__nav-menu-child" style="flex-wrap: wrap">
                                        <p class="header__nav-menu-child-text">
                                            Лазерная косметология
                                        </p>
                                        <img src="/assets/images/chervon--blue_no-bg-bold.svg" alt=""
                                            class="header__nav-menu-child-img" />
                                        <div class="header__nav-rd-menu">
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Лазерное омоложение
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Лазерное 5D-омоложение
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Лазерное омоложение Fotona 4D
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Лазерное омоложение Fotona 4D
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Живая плазма
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Smooth-омоложение
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Родиться заново
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Лазерное омоложение губ
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Лазерный пилинг
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Лазерная шлифовка
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Лазерная эпиляция
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Лазерное удаление сосудов
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Лазерная терапия при лечении акне
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Лазерное лечение новообразований
                                            </a>
                                        </div>
                                    </li>
                                    <li class="header__nav-menu-child" style="flex-wrap: wrap">
                                        <p class="header__nav-menu-child-text">
                                            Лечение Акне
                                        </p>
                                        <img src="/assets/images/chervon--blue_no-bg-bold.svg" alt=""
                                            class="header__nav-menu-child-img" />
                                        <div class="header__nav-rd-menu">
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Индивидуальное составление программы лечения
                                            </a>
                                        </div>
                                    </li>
                                    <li class="header__nav-menu-child" style="flex-wrap: wrap">
                                        <p class="header__nav-menu-child-text">
                                            Уходовые процедуры
                                        </p>
                                        <img src="/assets/images/chervon--blue_no-bg-bold.svg" alt=""
                                            class="header__nav-menu-child-img" />
                                        <div class="header__nav-rd-menu">
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Пилинги
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Чистка лица
                                            </a>
                                        </div>
                                    </li>
                                    <li class="header__nav-menu-child" style="flex-wrap: wrap">
                                        <p class="header__nav-menu-child-text">
                                            Подтяжка лица нитями
                                        </p>
                                        <img src="/assets/images/chervon--blue_no-bg-bold.svg" alt=""
                                            class="header__nav-menu-child-img" />
                                        <div class="header__nav-rd-menu">
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Подтяжка лица нитями
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#!" class="header__nav-menu-child">
                                    <p class="header__nav-menu-child-text">
                                        Генетика
                                    </p>
                                    <img src="/assets/images/chervon--blue_no-bg-bold.svg" alt=""
                                        class="header__nav-menu-child-img" />
                                </a>
                                <ul class="header__nav-nd-menu">

                                    <li class="header__nav-menu-child" style="flex-wrap: wrap">
                                        <p class="header__nav-menu-child-text">
                                            Генетические панели
                                        </p>
                                        <img src="/assets/images/chervon--blue_no-bg-bold.svg" alt=""
                                            class="header__nav-menu-child-img" />
                                        <div class="header__nav-rd-menu">
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Панель: Косметология
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Панель: Трихология
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Панель: Диетология
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Панель: Активное долголетие
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Панель: Эндокринология. Половые стероидыb
                                            </a>
                                        </div>
                                    </li>
                                    <li class="header__nav-menu-child" style="flex-wrap: wrap">
                                        <p class="header__nav-menu-child-text">
                                            Генетический таргет
                                        </p>
                                        <img src="/assets/images/chervon--blue_no-bg-bold.svg" alt=""
                                            class="header__nav-menu-child-img" />
                                        <div class="header__nav-rd-menu">
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Таргет: Сахарный диабет
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Таргет: Витамины
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Таргет: Антиоксидантная защита
                                            </a>
                                            <a href="#!" class="header__nav-menu-child-text">
                                                Таргет: Устойчивость к инфекциям
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#!" class="header__nav-menu-child">
                                    <p class="header__nav-menu-child-text">
                                        Трихология
                                    </p>
                                    <img src="/assets/images/chervon--blue_no-bg-bold.svg" alt=""
                                        class="header__nav-menu-child-img" />
                                </a>
                                <ul class="header__nav-nd-menu">
                                    <li class="header__nav-menu-child" style="flex-wrap: wrap">
                                        <a href="#!" class="header__nav-menu-child-text">
                                            Подробнее о трихологии
                                        </a>
                                    </li>
                                    <li class="header__nav-menu-child" style="flex-wrap: wrap">
                                        <a href="#!" class="header__nav-menu-child-text">
                                            Лазерное лечение «Hair Restart»
                                        </a>
                                    </li>
                                    <li class="header__nav-menu-child" style="flex-wrap: wrap">
                                        <a href="#!" class="header__nav-menu-child-text">
                                            Комплексная диагностика выпадения волос
                                        </a>
                                    </li>
                                    <li class="header__nav-menu-child" style="flex-wrap: wrap">
                                        <a href="#!" class="header__nav-menu-child-text">
                                            Мезотерапия / Плазмотерапия (PRP) волос
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#!" class="header__nav-menu-child">
                                    <p class="header__nav-menu-child-text">
                                        Иммунодиетология
                                    </p>
                                    <img src="/assets/images/chervon--blue_no-bg-bold.svg" alt=""
                                        class="header__nav-menu-child-img" />
                                </a>
                                <ul class="header__nav-nd-menu">
                                    <li class="header__nav-menu-child" style="flex-wrap: wrap">
                                        <a href="#!" class="header__nav-menu-child-text">
                                            Подробнее о иммунодиетологии
                                        </a>
                                    </li>
                                    <li class="header__nav-menu-child" style="flex-wrap: wrap">
                                        <a href="#!" class="header__nav-menu-child-text">
                                            «ImmunoHealth™» анализ
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="#!" class="header__nav-menu-child">
                                    <p class="header__nav-menu-child-text">
                                        Anti-age
                                    </p>
                                    <img src="/assets/images/chervon--blue_no-bg-bold.svg" alt=""
                                        class="header__nav-menu-child-img" />
                                </a>
                                <ul class="header__nav-nd-menu">
                                    <li class="header__nav-menu-child" style="flex-wrap: wrap">
                                        <a href="#!" class="header__nav-menu-child-text">
                                            Подробнее об Anti-age
                                        </a>
                                    </li>
                                    <li class="header__nav-menu-child" style="flex-wrap: wrap">
                                        <a href="#!" class="header__nav-menu-child-text">
                                            Комплексная диагностика
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#!" class="header__nav-menu-child">
                                    <p class="header__nav-menu-child-text">
                                        Биохимические анализы крови
                                    </p>
                                    <img src="/assets/images/chervon--blue_no-bg-bold.svg" alt=""
                                        class="header__nav-menu-child-img" />
                                </a>
                                <ul class="header__nav-nd-menu">
                                    <li class="header__nav-menu-child" style="flex-wrap: wrap">
                                        <a href="#!" class="header__nav-menu-child-text">
                                            Оксидативный Стресс
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="#!" class="header__nav-menu-child">
                                    <p class="header__nav-menu-child-text">
                                        Снижение веса
                                    </p>
                                    <img src="/assets/images/chervon--blue_no-bg-bold.svg" alt=""
                                        class="header__nav-menu-child-img" />
                                </a>
                                <ul class="header__nav-nd-menu">
                                    <li class="header__nav-menu-child" style="flex-wrap: wrap">
                                        <a href="#!" class="header__nav-menu-child-text">
                                            Body Slim
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <!-- End Handle Sub-menu -->
                    <li>
                        <a href="/blog" class="header__nav-item"> Блог </a>
                    </li>
                    <li>
                        <a href="/contacts/" class="header__nav-item"> Контакты </a>
                    </li>
                    <li>
                        <img src="/assets/images/header__search-icon-bold.svg" alt="" class="header__nav-search-icon"
                            id="header__nav-search-icon" />
                    </li>
                </ul>
            </div>

            <!-- Desktop -->
            <div class="header__contact pagerow">
                <a href="#!" class="header__contact-item">
                    <img src="/assets/images/sub-bar__icon-1.svg" alt="" class="header__contact-icon" />
                </a>
                <a href="#!" class="header__contact-item">
                    <img src="/assets/images/sub-bar__icon-2.svg" alt="" class="header__contact-icon" />
                </a>
                <a href="#!" class="header__contact-item">
                    info@geneticlife.ru
                </a>
            </div>

            <!-- Mobile -->
            <div class="header__sub-bar">
                <a href="#!" class="sub-bar__icon" style="margin-top: 34px">
                    <img src="/assets/images/sub-bar__icon-1.svg" alt="" />
                </a>
                <a href="#!" class="sub-bar__icon">
                    <img src="/assets/images/sub-bar__icon-2.svg" alt="" />
                </a>
                <a href="#!" class="sub-bar__icon" style="margin-bottom: 15px">
                    <img src="/assets/images/sub-bar__icon-3.svg" alt="" />
                </a>
            </div>
        </section>

    </div>
</header>