@use "../abs";

/* Footer */
.footer {
    padding: 35px 20px;
    border-radius: 20px;
    background: var(--dark-primary-color);
    color: #fff;
    margin-top: 12px;

    @include abs.responsive(lg) {
        margin-top: 120px;

    }

    &-top {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
        border-bottom: 1px solid #fff;

        @include abs.responsive(md) {
            flex-direction: row;
            justify-content: space-between;
        }

        &__nav {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 50px;

            @include abs.responsive(md) {
                gap: 40px;
                margin-bottom: 0;
            }

            &-item {
                display: flex;
                flex-direction: column;

                &-header {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    cursor: pointer;

                    @include abs.responsive(lg) {
                        gap: 30px;

                    }

                    &.active {
                        img {
                            transform: rotate(180deg);
                        }

                        &~.footer-top__nav-item-body {
                            grid-template-rows: 1fr;
                        }
                    }
                }

                &-body {
                    display: grid;
                    grid-template-rows: 0fr;
                    transition: 0.3s linear;

                    &>div {
                        overflow: hidden;
                    }

                    &-sers {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        margin-top: 20px;
                        font-size: 14px;

                        @include abs.responsive(md) {
                            font-size: 20px;
                        }
                    }

                    &-service {
                        &:hover {
                            color: #47C6FF;
                        }
                    }
                }

            }

            &-name {
                font-size: 14px;
                font-weight: 700;
                line-height: 128.571%;

                @include abs.responsive(md) {
                    font-weight: 400;
                    font-size: 20px;
                }

                @include abs.responsive(lg) {
                    font-size: 24px;

                }
            }

            &-icon {
                width: 12px;
                height: 18px;
            }
        }

        &__contact {
            @include abs.responsive(md) {
                order: 1;
            }
        }

        &__tel {
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            line-height: 125%;
            margin-bottom: 35px;

            @include abs.responsive(lg) {
                font-weight: 400;
                font-size: 24px;
            }
        }

        &__mail {
            text-align: center;
            font-size: 21px;
            line-height: 119.048%;
            margin-bottom: 35px;

            @include abs.responsive(lg) {
                font-size: 24px;
            }
        }

        &__social {
            text-align: center;
            margin-top: 50px;

            @include abs.responsive(md) {
                display: none;
                margin-top: 0;
            }

            &.sm {
                display: none;

                @include abs.responsive(md) {
                    display: block;
                }
            }

            &-text {
                text-align: center;
                font-size: 14px;
                font-weight: 700;
                line-height: 178.571%;
                margin-bottom: 10px;

                @include abs.responsive(md) {
                    font-size: 24px;
                    margin-bottom: 20px;
                    font-weight: 400;
                }
            }

            &-wrap {
                display: flex;
                align-items: center;
                justify-content: center;

                @include abs.responsive(md) {
                    gap: 13px;
                }
            }

            &-icon {
                display: block;
                width: 48px;
                height: 48px;
                flex-shrink: 0;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &__info {
            text-align: center;
            font-size: 20px;
            font-weight: 400;
            line-height: 125%;
            display: flex;
            flex-direction: column;
            gap: 35px;
            margin-top: 35px;

            @include abs.responsive(md) {
                flex-direction: column-reverse;
                justify-content: start;
            }

            &-time {
                @include abs.responsive(lg) {
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 109.375%;
                }
            }

            &-adress {
                @include abs.responsive(lg) {
                    font-size: 24px;
                }
            }
        }
    }

    &-bottom {
        text-align: center;

        &__copyright {
            font-size: 14px;
            font-weight: 400;
            line-height: 128.571%;
            margin: 50px 0 35px;

            @include abs.responsive(md) {
                font-size: 20px;
                margin-top: 40px;
            }
        }

        &__alpha-logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: max-content;
            height: max-content;

            img {
                width: 160px;
                height: 25px;
                object-fit: contain;

                @include abs.responsive(md) {
                    width: 224px;
                    height: 35px;
                }
            }
        }
    }
}

.sub-footer {
    background-color: var(--bg-color);

    &__subtitle {
        padding: 10px;
        color: var(--dark-primary-color);
        text-align: center;
        font-size: 10px;
        line-height: 1.2;
        letter-spacing: 1px;
        text-transform: uppercase;

        @include abs.responsive(lg) {
            font-size: 20px;
            padding: 15px;
        }
    }
}