@use "../abs";

/*  Header Part */
.header--fixed {
    position: sticky;
    z-index: 2;
    top: -2px;
    left: 0;
    width: 100%;
    margin-top: 10px;

    @include abs.responsive(lg) {
        margin-top: 30px;
    }
}

.header--fixed.fixed .header {
    padding: 5px 20px;
    top: 10px;
}

.header--fixed.fixed .header__nav-st-menu {
    top: 175%;
}

.header {
    position: relative;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(33, 49, 112, 0.2);

    @include abs.responsive(lg) {
        padding: 10px 25px;
    }

    &__menu-icon {
        width: 22px;
        cursor: pointer;

        @include abs.responsive(lg) {
            display: none;
        }
    }

    &__logo {
        width: 97px;
        height: auto;

        @include abs.responsive(lg) {
            width: 162px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__opera.pagerow {
        gap: 15px;

        @include abs.responsive(lg) {
            display: none;
        }

        img {
            cursor: pointer;
        }
    }

    &--mobile__input {
        position: absolute;
        width: 56.76%;
        height: 0;
        top: 0;
        left: 57px;
        z-index: 1;
        background-color: #fff;

        &::placeholder {
            color: rgba(1, 29, 58, 0.4);
            font-size: 14px;
            font-weight: 400;
            line-height: 128.571%;
        }
    }

    &__close-icon {
        display: none;
    }

    &__nav {
        display: none;
        position: relative;

        @include abs.responsive(lg) {
            display: block;
        }

        &-list {
            gap: 50px;
            align-content: center;
        }

        &-item {
            font-size: 20px;
            font-weight: 700;
            line-height: 125%;
        }

        &-search-icon,
        &-close-icon {
            width: 22px;
            height: 22px;
            cursor: pointer;
        }

        &-close-icon {
            margin-left: 20px;
        }
    }

    &__search-bar {
        visibility: hidden;
        padding: 10px;
        align-items: center;
        border-radius: 25px;
        border: 1px solid var(--dark-primary-color);
        background: #f4fcff;
        width: 560px;
        position: absolute;
        top: -200%;
        left: 50%;
        translate: -50% -50%;

        z-index: 3;

        input {
            margin-right: auto;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;

            &::placeholder {
                color: rgba(1, 29, 58, 0.4);
            }
        }
    }

    &__contact {
        align-items: center;
        gap: 15px;
        display: none;

        @include abs.responsive(lg) {
            display: flex;
        }

        &-item {
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 125%;
        }
    }

    &__sub-bar {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        right: 0;
        z-index: -1;
        width: 54px;
        max-height: 0px;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        border-radius: 0 0 50px 50px;
        background: #fff;
        overflow: hidden;
        transition: 1s linear;

        .sub-bar__icon {
            width: 30px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

/* CSS Child Menu for Header */
.header__nav {
    &-cate {
        height: 100%;
        position: relative;
    }


    &-cate:hover &-st-menu {
        display: flex;
    }

    &-st-menu {
        display: none;
        position: absolute;
        top: 200%;
        left: 50%;
        translate: -50%;
        width: 264px;
        padding: 20px 0;
        flex-direction: column;
        gap: 20px;
        border-radius: 0px 0px 20px 20px;
        background: #fff;
        box-shadow: 0px 0px 8px 0px rgba(33, 49, 112, 0.2);

        li:hover .header__nav-nd-menu {
            display: flex;
        }

        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 30px;
            bottom: 100%;
            left: 0;
            opacity: 0;
        }

        >li {
            position: relative;
        }

        >li:first-child .header__nav-nd-menu {
            border-radius: 0px 0px 20px 20px;
        }
    }

    &-nd-menu {
        display: none;
        position: absolute;
        top: -20px;
        left: 100%;
        width: 346px;
        padding: 20px 0;
        flex-direction: column;
        gap: 20px;
        border-radius: 20px 20px 20px 20px;
        background: #fff;
        box-shadow: 0px 0px 8px 0px rgba(33, 49, 112, 0.2);

        img {
            rotate: 90deg;
        }

        &::after {
            content: "";
            display: block;
            width: 100%;
            opacity: 0;
            height: 400px;
            position: absolute;
            top: 100%;
            left: -3px;
        }
    }

    &-rd-menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: 0.3s linear;

        a {
            padding-top: 20px;
            color: var(--text-color);
            font-weight: 400;
        }
    }

    &-menu-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        position: relative;

        &-text {
            font-size: 20px;
            line-height: 125%;
        }

        &-img {
            width: 14px;
            height: auto;
            transform: rotate(-90deg);
        }
    }
}

.header__nav-menu-child.active p {
    color: var(--dark-primary-color);
    font-weight: 700;
    transition: 0.3s linear;
}

.header__nav-menu-child p {
    cursor: pointer;
}

.header__nav-menu-child.active .header__nav-menu-child-img {
    rotate: -90deg;
}