@use "../abs";

.breadcrumbs {
    margin: 45px 0 40px;
    overflow-x: auto;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    &__row {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__page {
        color: rgba(1, 29, 58, 0.6);
        font-size: 12px;
        line-height: 128.571%;
        white-space: nowrap;

        @include abs.responsive(sm) {
            font-size: 14px;
        }
    }

    &__arrow {
        width: 6px;

        @include abs.responsive(sm) {
            width: 7px;
        }
    }
}