@forward 'pagemain';
@forward 'pagecontact';
@forward 'pageservices';
@forward 'pagecosmetology';
@forward 'pageaboutdoctor';
@forward 'pagecertificates';
@forward 'pagearticle';
@forward 'pageblog';
@forward 'pagereviews';
@forward 'pageinjection';
@forward 'pagebotulinum';