@use "../abs";

.injection-css .tab-swiper-lev2 .swiper-slide-thumb-active {
    border: 1px solid var(--dark-primary-color);
    border-radius: 20px;
}

.injection-css .tab-swiper-lev2 .swiper-slide {
    padding: 5px 10px;
}

.injection {
    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.25;
        margin-bottom: 10px;

        @include abs.responsive(sm) {
            text-align: center;
            margin-bottom: 20px;
        }

        @include abs.responsive(lg) {
            font-size: 32px;
            margin-bottom: 40px;
        }
    }
}

.injection-hero {
    &__group {
        position: relative;
    }

    &__text {
        font-size: 12px;
        font-weight: 700;
        line-height: 1.33;
        margin-bottom: 10px;

        @include abs.responsive(sm) {
            position: absolute;
            top: 0;
            left: 0;
            width: 356px;
            font-size: 13px;
        }

        @include abs.responsive(md) {
            width: 512px;
            font-size: 20px;
        }

        @include abs.responsive(lg) {
            width: 670px;
            font-size: 25px;
        }

        @include abs.responsive(xl) {
            width: 737px;
            font-size: 27px;
            line-height: 1.5;
        }
    }

    &__mask {
        border-radius: 20px;
        overflow: hidden;
        height: 240px;
        width: auto;
        margin-left: -10px;
        margin-right: -10px;

        @include abs.responsive(sm) {
            -webkit-mask-image: url(../images/mark-injection-640.webp);
            mask-image: url(../images/mark-injection-640.webp);
            mask-repeat: no-repeat;
            mask-size: 100% 100%;
            height: 100%;
            margin-left: 0;
            margin-right: 0;
            // background-color: #fff;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.injection-content {
    margin-top: 50px;

    @include abs.responsive(lg) {
        margin-top: 120px;
    }

    &__group {
        margin-bottom: 20px;

        @include abs.responsive(lg) {
            margin-bottom: 40px;
        }
    }

    &__link {
        a {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 14px;
            line-height: 1.3;
            color: var(--dark-primary-color);

            @include abs.responsive(lg) {
                font-size: 20px;
            }
        }

        .icon {
            width: 15px;
            height: 15px;
            background: url('../images/arrow--no_bg.svg') no-repeat center / contain;

            @include abs.responsive(lg) {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__paragraph {
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.3;

        @include abs.responsive(lg) {
            font-size: 20px;
        }
    }
}