@use "../abs";

.pageblog-hero {
    &__title {
        @include abs.title;

        @include abs.responsive(md) {
            text-align: center;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 80px 1fr;
        grid-template-rows: 80px 40px;
        row-gap: 35px;
        column-gap: 10px;
        margin-top: 14px;

        @include abs.responsive(sm) {
            grid-template-rows: 40px 40px;
            grid-template-columns: 100px 1fr;
            row-gap: 20px;
        }

        @include abs.responsive(md) {
            grid-template-rows: 134px 61px;
            grid-template-columns: 195px 1fr;
            column-gap: 50px;
            row-gap: 0;
            margin-top: 40px;

        }
    }

    &__doctor {
        overflow: hidden;
        border-radius: 50%;

        @include abs.responsive(sm) {
            grid-row: 1/3;
        }

        img {
            width: 190%;
            height: auto;
            object-position: -42px -15px;

            @include abs.responsive(md) {
                object-position: -110px -36px;
            }
        }
    }

    &__quote {
        font-size: 16px;
        line-height: 1.25;
        font-weight: 700;

        @include abs.responsive(md) {
            font-size: 24px;
            line-height: 1.4;
            margin-top: 16px;
        }
    }

    &__search {
        grid-column: 1/3;
        position: relative;

        @include abs.responsive(sm) {
            grid-column: 2/3;
        }

        @include abs.responsive(md) {
            margin-bottom: 16px;
        }

        input {
            font-size: 14px;
            line-height: 1.3;
            width: 100%;
            border: 1px solid var(--dark-primary-color);
            padding: 10px 45px;
            border-radius: 25px;
            background: #ebf3f6;

            @include abs.responsive(md) {
                font-size: 18px;
                padding: 10px 20px;

            }
        }

        input::placeholder {
            color: rgba(1, 29, 58, 0.40);
        }
    }

    &__search-icon {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);

        @include abs.responsive(md) {
            left: unset;
            right: 20px;
            width: 22px;
            height: 22px;
        }
    }



    &__close-icon {
        visibility: visible;
        background-color: #ebf3f6;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);

        @include abs.responsive(md) {
            right: 19px;
            width: 24px;
            height: 24px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__search input:placeholder-shown~&__close-icon {
        visibility: hidden;
    }
}

.pageblog-blog {
    margin-top: 20px;

    @include abs.responsive(md) {
        margin-top: 50px;
    }

    @include abs.responsive(lg) {
        margin-top: 120px;
    }
}

.pageblog-blog--mobi {
    @include abs.responsive(md) {
        display: none;
    }

    &__tab-list {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 35px;
    }

    &__tab-item {
        padding: 5px 15px;
        border-radius: 20px;
        border: 1px solid transparent;
        cursor: pointer;

        &:hover {
            border-bottom: 1px solid var(--dark-primary-color);
            border-radius: 0;
        }

        &.active {
            border: 1px solid var(--dark-primary-color);
            border-radius: 20px;
        }
    }

    &__content {
        display: none;

        &.active {
            display: block;
        }
    }
}


.pageblog-blog--mobi-article {
    display: none;
    max-height: 384px;
    min-height: 340px;
    position: relative;

    &__mask {
        -webkit-mask-image: url(/assets/images/mask-article-mobi.webp);
        mask-image: url(/assets/images/mask-article-mobi.webp);
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
        height: 100%;
        background-color: #fff;
    }

    &__mask.mask-nosubtitle {
        -webkit-mask-image: url(/assets/images/mask-article-mobi--nosubtitle.webp);
        mask-image: url(/assets/images/mask-article-mobi--nosubtitle.webp);
    }

    &__inner {
        height: 100%;
        font-size: 14px;
        line-height: 1.28;
        display: flex;
        flex-direction: column;
    }

    &__img {
        width: 100%;
        height: 240px;
        object-fit: cover;
        border-radius: 10px;
    }

    &__title {
        font-weight: 700;
        color: var(--dark-primary-color);
        margin-top: 12px;
    }

    &__subtitle {
        color: #000;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    &__date {
        opacity: 0.6;
        margin-top: auto;
        margin-bottom: 8px;
    }

    &__title,
    &__subtitle,
    &__date {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.pageblog-blog-article__direct {
    position: absolute;
    right: 1px;
    bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--dark-primary-color);
    background: rgba(202, 239, 255, 0.2);
    -webkit-backdrop-filter: blur(0.125rem);
    backdrop-filter: blur(0.125rem);
    cursor: pointer;
    scale: 1.01;


    @include abs.responsive(lg) {
        width: 40px;
        height: 40px;
    }
}

.pageblog-more-btn {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    max-width: 340px;


}

.pageblog-blog--desk {
    display: none;

    @include abs.responsive(md) {
        display: block;
    }

    &__tab-list {
        display: flex;
        justify-content: space-between;
        transform: translateY(1px);
        font-size: 20px;
        color: var(--dark-primary-color);
    }

    &__tab-item {
        width: 33.33%;
        background-color: transparent;
        padding: 15px;
        position: relative;
        text-align: center;
        cursor: pointer;

        &.active {
            border-radius: 20px 20px 0 0;
            box-shadow: 0 -3px 4px 0px rgba(89, 89, 89, 0.1);
            background-color: #fff;

            .decor {
                width: 23px;
                height: 23px;
                position: absolute;
                bottom: 0;
                overflow: hidden;

                &::after {
                    content: "";
                    display: block;
                    width: 200%;
                    height: 200%;
                    border-radius: 30%;
                    position: absolute;
                    bottom: 0;
                }
            }

            .decor--right {
                left: 100%;
                right: unset;

                &::after {
                    left: 0;
                    right: unset;
                    box-shadow: -5px 10px 0 0 rgb(255, 255, 255), inset -3px 3px 7px 4px rgba(188, 188, 188, 0.1);
                }
            }

            .decor--left {
                right: 100%;
                left: unset;

                &::after {
                    right: 0;
                    left: unset;
                    box-shadow: 10px 5px 0 0 rgb(255, 255, 255), inset 5px 6px 7px 4px rgba(188, 188, 188, 0.1);
                }
            }
        }
    }

    &__content-list {
        padding-bottom: 5px;
    }

    &__content {
        box-shadow: 0 0 5px 2px rgba(89, 89, 89, 0.1);
        background-color: #fff;
        padding: 40px 40px 60px;
        display: none;

        &.active {
            display: block;
        }

        &.active:first-child {
            border-radius: 0 20px 20px 20px;
        }

        &.active:nth-child(2) {
            border-radius: 20px 20px 20px 20px;
        }

        &.active:last-child {
            border-radius: 20px 0 20px 20px;
        }
    }

}

.pageblog-blog--desk-article {
    display: none;
    line-height: 1.28;

    &__date {
        opacity: 0.6;
        font-size: 14px;
    }

    &__wrap-img {
        position: relative;
        padding-top: 87.5%;
        margin: 15px 0;
    }

    &__mask-img {
        position: absolute;
        inset: 0;

        -webkit-mask-image: url(/assets/images/mask-article-desk.webp);
        mask-image: url(/assets/images/mask-article-desk.webp);
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
        width: 100%;
        height: 100%;

    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__direct {
        position: absolute;
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
    }

    &__subtitle {
        color: #000;
        font-size: 20px;
        margin-top: 5px;
    }
}

.expand-btn--js {
    width: 0;
    height: 0;
    overflow: hidden;
}

.expand-btn--js.btn-visible {
    width: auto;
    height: auto;
    overflow: visible;

    .btn::before {
        content: "Показать еще";
    }

    &.active .wrap__chervon {
        transform: rotate(180deg);
    }

    &.active .btn::before {
        content: 'Свернуть';
    }
}