@use '../abs';

.icon {
    &__wrap {
        display: flex;
        width: 100%;
        position: absolute;
    }


}

.pageservices {
    &__title {
        color: var(--dark-primary-color);
        font-size: clamp(1.5rem, 1vw + 1.25rem, 2rem);
        font-weight: 700;
        line-height: 125%;

        @include abs.responsive(md) {
            text-align: center;
        }
    }

    &__subtitle {
        font-size: clamp(1rem, 1vw + 0.75rem, 1.375rem);
        line-height: 125%;
        margin-top: 10px;
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;

        @include abs.responsive(md) {
            margin-top: 15px;
            text-align: center;
        }
    }

    &-hero__row {
        gap: 40px;
        margin-top: 35px;
    }

    &-menu--small {
        display: none;

        @include abs.responsive(md) {
            display: block;
            width: 373px;
            background-color: #fff;
            border-radius: 20px;
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
            flex-shrink: 0;
            align-self: flex-start;
            overflow: hidden;
        }
    }

    &-menu--big {}
}

.pageservices-regis {
    margin-top: 35px;
    margin-bottom: 100px;
    position: relative;

    @include abs.responsive(lg) {
        margin-top: 90px;
        margin-bottom: 120px;
    }

    &__text {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;

        @include abs.responsive(sm) {
            position: static;
        }

        @include abs.responsive(md) {
            text-align: center;
        }
    }

    &__title {
        color: var(--dark-primary-color);
        font-size: 24px;
        font-weight: 700;
        line-height: 125%;

        @include abs.responsive(md) {
            font-size: 32px;
        }
    }

    &__subtitle {
        line-height: 125%;
        margin-top: 15px;
        margin-bottom: 40px;

        @include abs.responsive(md) {
            font-size: 20px;
        }
    }

    &__img {
        width: 100%;
        height: 650px;
        border-radius: 20px;
        overflow: hidden;

        @include abs.responsive(md) {
            height: 500px;
        }

        @include abs.responsive(lg) {
            height: 600px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__form {
        position: absolute;
        bottom: -10px;
        width: 100%;
        max-width: 450px;

        @include abs.responsive(sm) {
            bottom: 0;
            right: 50%;
            transform: translateX(50%);
        }

        @include abs.responsive(md) {
            bottom: unset;
            right: 85px;
            transform: translateX(0);
            top: 50%;
            transform: translateY(-28%);
        }
    }
}