@use '../abs';

/* Registration */
.pagecontacts-regis {
    margin-bottom: 50px;

    @include abs.responsive(lg) {
        margin-bottom: 120px;
    }

    &__row {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;

        @include abs.responsive(md) {
            flex-direction: row;
            align-items: start;
            gap: 30px;
        }
    }

    &__contact {
        &-title {
            color: var(--dark-primary-color);
            font-size: 24px;
            font-weight: 700;
            line-height: 125%;

            @include abs.responsive(lg) {
                font-size: 32px;
            }
        }

        &-address {
            color: var(--dark-primary-color);
            font-size: 24px;
            font-weight: 400;
            line-height: 125%;
            margin-top: 10px;
            margin-bottom: 30px;

            @include abs.responsive(lg) {
                font-size: 32px;
                margin-top: 20px;
                margin-bottom: 58px;
            }
        }

        &-list {
            display: flex;
            gap: 25px;
            align-items: center;

            @include abs.responsive(md) {
                flex-direction: column;
                gap: 30px;
                align-items: start;
            }
        }

        &-item {
            display: flex;
            align-items: center;
            gap: 6px;

            @include abs.responsive(lg) {
                gap: 15px;
            }

            &-icon {
                flex-shrink: 0;
                width: 44px;
                height: 44px;

                @include abs.responsive(lg) {
                    width: 67px;
                    height: 67px;
                }
            }

            &-text-1 {
                color: var(--dark-primary-color);
                font-size: 14px;
                font-weight: 400;
                line-height: 128.571%;

                @include abs.responsive(lg) {
                    font-size: 24px;
                }
            }

            &-text-2 {
                font-size: 14px;
                font-weight: 700;
                line-height: 128.571%;

                @include abs.responsive(lg) {
                    font-size: 24px;
                }
            }
        }
    }



    &__img {
        width: 100%;
        border-radius: 20px;
        margin-top: 20px;
        max-width: 500px;
        max-height: 500px;
        object-fit: cover;

        @include abs.responsive(md) {
            width: 350px;
            max-width: none;
            margin-top: 0;
        }

        @include abs.responsive(lg) {
            width: 715px;
        }
    }

    &__btn {
        text-align: center;
        position: absolute;
        bottom: 10px;
        left: 50%;
        translate: -50%;
        width: calc(100% - 20px);
        max-width: 340px;

        @include abs.responsive(md) {
            left: 0;
            translate: 0;
        }
    }
}

.pagecontacts-map {
    margin-bottom: 40px;

    @include abs.responsive(lg) {
        margin-bottom: 120px;
    }

    [class*="copyrights-pane"] {
        display: none !important;
    }

    // [class*="zoom__scale"] {
    //     display: none !important;
    // }

    .map {
        width: 100%;
        height: 302px;
        margin-left: auto;
        margin-right: auto;

        @include abs.responsive(sm) {
            width: 600px;
        }

        @include abs.responsive(md) {
            width: 920px;
            height: 400px;
        }

        @include abs.responsive(lg) {
            width: 1140px;
            height: 511px;
        }

        @include abs.responsive(xl) {
            width: 1240px;
        }

    }
}

.pagecontacts-service {
    &__header {
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        @include abs.title;
    }

    &__btn {
        @include abs.miniButton;
    }

    &__list {
        display: grid;
        grid-auto-columns: 232px;
        grid-auto-rows: 139px;
        grid-auto-flow: column;
        gap: 10px;
        overflow-x: scroll;
        padding-top: 50px;

        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */

        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }

        @include abs.responsive(md) {
            grid-auto-flow: row;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 168px;
            gap: 20px;
            overflow-x: visible;
            padding-top: 40px;
        }

        @include abs.responsive(lg) {
            gap: 40px;
        }
    }

    &__item {
        position: relative;
        border-radius: 20px;
        background: rgba(202, 239, 255, 0.5);
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
        overflow: hidden;
        text-align: center;

        @include abs.responsive(lg) {
            padding-top: 15px;
            padding-right: 15px;
            padding-left: 15px;
        }

        &-title {
            color: var(--dark-primary-color);
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            line-height: 125%;
        }

        &-bg {
            width: 150px;
            height: auto;
        }

        &-btn {
            position: absolute;
            bottom: 10px;
            right: 10px;
            z-index: 1;
            @include abs.miniButton;
        }
    }
}