@use '../abs';



.pageaboutdoctor {

    &-specialist,
    &-advantage {
        margin-top: 50px;

        @include abs.responsive(lg) {
            margin-top: 120px;
        }
    }
}

.pageaboutdoctor-hero__main {
    background: url(/assets/images/hero__img--mobile.webp) no-repeat center / cover;

    @include abs.responsive(md) {
        background: url(/assets/images/hero__img--desktop.webp) no-repeat center / cover;
    }
}

.pageaboutdoctor-specialist {
    &__title {
        @include abs.title;
        margin-bottom: 20px;

        @include abs.responsive(md) {
            text-align: center;
            margin-bottom: 40px;
        }
    }

    &__flex-item {
        flex: 1 1 50%;
    }

    &__img {
        height: 531px;
        display: none;
        border-radius: 25px;
        overflow: hidden;

        @include abs.responsive(md) {
            display: block;
        }

        @include abs.responsive(lg) {
            height: 700px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.pageaboutdoctor-advantage {
    &__title {
        @include abs.title;
        margin-bottom: 20px;

        @include abs.responsive(md) {
            margin-bottom: 40px;
        }
    }

    &__list {
        @include abs.responsive(md) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            transform: translate3d(0px, 0px, 0px) !important;
            gap: 30px;
        }
    }


    &__item {
        display: flex;
        width: 294px;
        padding: 10px;
        align-items: center;
        gap: 10px;
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.10);

        @include abs.responsive(md) {
            width: auto;
            margin-right: 0 !important;
            padding: 20px 30px;
        }
    }

    &__img {
        width: 50px;
        height: 50px;
        object-fit: contain;

        @include abs.responsive(md) {
            width: 65px;
            height: 65px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: var(--dark-primary-color);
        font-size: 14px;
        line-height: 128.571%;
        letter-spacing: 0.5px;

        @include abs.responsive(md) {
            gap: 15px;
        }

        @include abs.responsive(lg) {
            font-size: 20px;
        }

        &-top {
            font-weight: 700;
        }
    }
}

.pageaboutdoctor-services {
    margin-top: 50px;

    @include abs.responsive(lg) {
        margin-top: 120px;
    }

    &__subtitle {
        margin-top: 10px;
        margin-bottom: 35px;
        color: #011D3A;
        font-size: 14px;
        line-height: 140%;

        @include abs.responsive(md) {
            font-size: 20px;
        }

        @include abs.responsive(lg) {
            margin-top: 15px;
            margin-bottom: 40px;
        }
    }

    &__title {
        @include abs.title;

    }

    &__list {
        margin: 0;

        @include abs.responsive(md) {
            display: block;
            transform: translate3d(0px, 0px, 0px) !important;
        }

    }

    &__item {
        width: 285px;
        margin-top: 0;


        @include abs.responsive(md) {
            width: 100%;
            margin-right: 0 !important;
            margin-bottom: 40px;
        }

        // .title {
        //     margin-bottom: 5px;

        //     @include abs.responsive(md) {
        //         margin-bottom: 0;
        //     }
        // }
    }
}

.pageaboutdoctor-review__swiper,
.pageaboutdoctor-certf__swiper {

    @include abs.responsive(md) {
        overflow: hidden;
    }

}

.pageaboutdoctor-result__swiper {
    overflow: hidden;
}